<html>
<head>

{% load static %}

<title>Ricettarrio di Bacco</title>
<link rel="stylesheet" type="text/css" href="{% static 'recipe/css/recipe.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Cibario">
<meta property="og:title" content="Ricettarrio di Bacco" />
<!--<meta property="og:url" content="https://www.example.com/webpage/" /> -->
<meta property="og:description" content="Cibario">
</head>
<body>



<div class="title">
  {{recipe.title}}
</div>
<div class="servings">
   Servings {{recipe.servings}}
</div>
<div class="row">
  <div class="column" >
    <span style="font-size:1.3em;font-weight: bold; ">Ingredients</span>
    {{recipe.ingredient | safe}}
  </div>
  <div class="column" >
    {% if recipe.notes %}
    <div class="notes">
      <span style="font-size:1.1em;font-weight: bold; ">Notes & References</span>
      <p>
        {{recipe.notes | safe}}
      </p>
    </div>
    {% endif %}
  </div>
</div>

<div class="double_cont" >
{% for ref in reference %}
<div class='video-container'>
 <iframe width="560" height="315" src="{{ref.url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endfor %}
</div>

</body>

<div style="position:flex; bottom:0.5em;">
  <div class="footer-basic">
          <footer>
              <ul class="list-inline" style="margin:3px" >
                  <li class="list-inline-item"><a style="font-family:Georgia;color: #0168DA;" href="/notes">Cookbook</a></li>
              </ul>
              <!-- <p class="copyright">A month at a Time</p> -->
          </footer>
      </div>
</div>
</html>
