<html>
<head>

{% load static %}

<title>A Month at a Time - All Months</title>
<link rel="icon" href="https://res.cloudinary.com/giaggi/image/upload/v1613837471/amonthatatime/images/general/calvinandhobbes.png">
<link rel="stylesheet" type="text/css" href="{% static 'amonthatatime/css/archive.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="An unsolicited stream of consciousness you totally never asked for">
<meta property="og:title" content="A Month at a Time - Home Page" />
<!--<meta property="og:url" content="https://www.example.com/webpage/" /> -->
<meta property="og:description" content="An unsolicited stream of consciousness you totally never asked for">
<meta property="og:image" content="https://res.cloudinary.com/giaggi/image/upload/v1613837471/amonthatatime/images/general/calvinandhobbes.png">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E63VBW043G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E63VBW043G');
</script>


</head>
<main>
<body>
  <p align="center">
    <span style="color:#B02E25;font-size:1.5em;">A Month At A Time</span>
  </p>

<div>
  <img width="150" height="94" src="https://res.cloudinary.com/giaggi/image/upload/v1613837471/amonthatatime/images/general/calvinandhobbes.png">
</div>


{% for post in latest_posts %}
<div class="post">
  <h3> {{post.title | safe}}
    <br> <span style="opacity:0.6; font-size:0.8em">{{post.month | safe}} {{post.year | safe}} </span>
  </h3>
  <p style="opacity: 0.7;"> {{post.whatsapp | safe | truncatewords:50 }} </p>
  <div class="right">
    <a style="color:#B02E25;" href="/amonthatatime/{{post.year}}/{{post.month}}/" target="">Open</a>
  </div>
</div>
<hr>
{% endfor %}

</main>
<div style="position:flex; bottom:0.5em;">
  <div class="footer-basic">
          <footer>
              <ul class="list-inline" style="margin:3px" >
                  <li class="list-inline-item"><a style="font-family:Georgia;color: #0168DA;" href="/amonthatatime/subscribe">Subscribe</a></li>
              </ul>
              <!-- <p class="copyright">A month at a Time</p> -->
          </footer>
      </div>
</div>
</body>
</html>
