<html>
<head>

</head>
  <body style="margin-left:5vw;margin-right:5vw;margin-top:3vw;margin-bottom:2vw;font-family:Georgia;font-size:1em;color: #4D4D4D;">
    <p align="center", style="margin-bottom: 4em;">
      <br /> <span style="color:#B02E25;font-size:1.5em;">A Month at a Time</span>
      <br /><span style="color:#4D4D4D;font-size:1em;">Confirmation Email</span>
    </p>

    <p>
      If you want to receive a worthless emails about nonsense things go ahead and click the giant red button down here.
    </p>

    <div class="" style="display:flex;justify-content:center;margin-top:50px;margin-bottom:70px;">
      <a href="{{url}}/confirm/?email={{email}}&conf_num={{conf_num}}" target="_blank" style="background-color: #B02E25;border: 1px solid;border-color: rgba(77,77,77,0.25);border-radius: 10px;color: white;padding: 7px 14px;text-align: center;text-decoration: none;display: inline-block;font-family:Georgia;align-items:center;font-weight: lighter;font-size:14px;cursor:pointer;justify-content:center;">Confirm my email</a>
    </div>
  </body>
</html>
