body {
  background-color: white;
  margin-top:3em;
  margin-bottom:3vw;
  margin-left:12vw;
  margin-right:12vw;
  font-family:Georgia;
  font-size:1em;
  color: #4D4D4D;
  }

ul {
  margin-top:4px;
}

.title {
  font-size:2.4em;
  margin-bottom: 4px;
}

.servings {
  margin-bottom: 40px;
  font-size:1.1em;
  font-weight: lighter;
  opacity: 0.8;

}

.section {
  margin-top: 15px;
  margin-left: 10px;
}


.double_cont {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-device-width: 480px) {
  .double_cont {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }

    .column {
      width: 100%;
    }

  .title {
    font-size:4.4em;
  }

  .servings {
    font-size: 3.1em;
  }
}

/* footer */

.footer-basic {
  padding:40px 0;
  margin-top: 5em;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:15px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.list-inline {
    list-style: none;
    padding: 0;
}

.list-inline > li {
    display: inline;
    margin: 0;
}
